* {
    top:0;
    right: 0;
    left: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: wrap;
  flex-shrink: 0;
}
body {
    color: white;
    background:linear-gradient(to right, #27265f, #4d234d, #7e1f35, #9d1c26,#cf5326);
}
nav ul li, a {
    list-style: none;
    text-decoration: none;
    outline: none;
    color: white;
}
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    margin-top: -10px;
   position: fixed;
    box-shadow: 0px 0px 5px white;
}
header nav ul li {
    display: inline-block;
    margin-left: 15px;
}
li:hover {
    box-shadow: 1px 2px 30px white;
  border-radius: 20px;
}

.phone {
    margin-top: 10%;
}
.phone img {
    box-shadow: 1px 1px 40px white;
    border-radius: 18px;
}
.phone h3 {
    position: absolute;
    margin-top: 70%;
    color: transparent;
}
.phone h3:hover {
    
    color: white;
}
.phone img:hover {
 box-shadow: 1px 1px 100px white;
    transition:1.5s;
}
.phone h4 {
    margin-top: 72%;
    position: absolute;
    color: transparent;
}
.phone h4:hover {
    color: white;
}
header hr {
    position: fixed;
}
.os h4 {
    margin-top: -5px;
    font-weight: 100;
}
.hobby {
    margin-top: 5%;
}
.collage img {
    margin-top:10%;
    box-shadow: 1px 0px 40px white;
    border-radius: 19px;
}
.proj {
    margin-left: 880px;
    margin-top: 230px;
    position: absolute;
}
.proj a {
    margin-left: 21px;
    color:transparent;
}
.yt {
    position: absolute;
     margin-top: 390px;
     margin-left: 470px;
}
.yt a {
    margin-left: 20px;
    color: transparent;
}
.hyper {
    margin-top: 1450px;
    position: absolute;
}
.hyper img {
    border-radius: 22px;
}
.os img {
    box-shadow: 1px 0px 60px black;
    border-radius: 20px;
}
.prof img {
    margin-top: 350px;
    box-shadow: 1px 2px 100px white;
    border-radius: 38px;
}
.prof h1 {
    color: transparent;
    
}
.dev h1 {
    font-weight: 10;
}
.mobcollage {
    display: none;
}
.menu {
    display: none;
}
@media  screen and (max-width: 500px) {
    body {
        background-color: gray;
        flex-direction: wrap;
    }
   header nav ul li {
        display: none;
    }
    .logo, .logo img {
        width: 76px;
    }
    header {
        margin-top: 0px;
        width: 100%;
        height: 11%;
        display: flex;
        justify-content: center;
    }
    .mobcollage, .mobcollage img {
        margin-top: 40px;
        display: flex;
        width:165px ;
        height:361px ;
        
    }
    .stat img, .stat {
        width: 180px;
        height: 151px;
    }
    .collage {
        display:none;
    }
     .phone img {
        margin-top: 50px;
        width:55px ;
        height:170px ;
        border-radius:10px 
    }
    .prof img, .prof {
        width:180px ;
        height:151px ;
        border-radius: 19px;
        margin-top: 40px;
    }
    .phone, .phone img {
        width:161px ;
        height:321px ;
    }
    .os, .os img {
        margin-top: 40px;
          width:161px ;
        height:321px ;
        border-radius:10px ;
    }
    h2, h3,h4 {
        display: none;
    }
    h2 {
     font-size: 12px;
    }
    .yt, .yt a {
        display: none;

    }
    .proj, .proj a {
        display: none;
    }
     .dev {
        margin-top: 100px;
    }
    .dev h1 {
        font-size: 22px;
    }

    .arrow, .arrow img {
        margin-top: 30px;
        width: 100px;
    }
   .menu {
    margin-left: 100px;
    display: flex;
   }
   button {
    background-color: transparent;
    border: solid white;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    color: white;
   }
   button:hover {
    scale: 1.2;
   }
}
button {
    background-color: transparent;
    border: solid white;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    color: white;
   }
    button:hover {
    scale: 1.2;
   }


